
$color-text: #1E1E1E;
$pink: #E9008C;
$grey: #CACACA;
$secondary-text: rgb(112, 122, 131);;
$silver: #C0C0C0;
$deto-blue: #0A6DD7;
$hover_blue: #1380f5;
$shadow1: 2px 2px 5px 0px rgba(0,0,0,0.3);
$box_shadow1:rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
$transition-box: all 0.1s ease 0s;

@mixin btn() {
    border: none;
    border-radius: 6px;
    padding:16px 18px;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: $deto-blue;  
    cursor: pointer;
    z-index: 1;
}

@mixin btnWhite() {
    border: 3px $pink solid;
    border-radius: 6px;
    padding:16px 18px;
    margin: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: $pink;
    background-color: white;  
    cursor: pointer;
    z-index: 1;
}

.main__container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.landing{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 95vh;
    margin-bottom: 200px;
}

.landing_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 3rem;
        letter-spacing: 0.05rem;
        width: 450px;
    }
    button{
        @include btn();
        width: 200px;
        font-size: 1.1rem;
        letter-spacing: 0.04rem;
        text-transform: uppercase;
        transition: 0.4s all ease;
        z-index: 100;
    }
    button:hover{
        background-color: $hover_blue;
        box-shadow: $shadow1;
    }
}

.landing_img{
    position: absolute;
    z-index: 2;
   left: -30%;
   bottom: -10%;

}

.title_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 0 100px;
    margin-top: 62px;
   
    img{
        width: 360px;
        margin-right: 10px;

    }
}

.landing_msg{
  height: 110vh;
  background: url('../assets/Rectangle1.svg');
    background-size: 138%;
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-position-x: 50%;
    padding: 100px 40px 0px 40px;
    h2{
        font-size: 3.5rem;
        color: white;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 100px;
    }
    p{
        color: white;
        font-size: 2.2rem;
        text-align: center;
    }
    h3{
        color: white;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }
}

.landing_collection{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
            h2{
                font-size: 4rem;
                color: $deto-blue;
                text-align: center;
        span{
            color: $pink;
        }
    }
        button{
            @include btnWhite();
            width: 200px;
        }
        button:hover{
            transition: 0.4 all ease;
            box-shadow: $box_shadow1;
        }
    }
}

    

.nav_menuResponsive{
    display: none;
    font-size: 2rem;
    width: 100%;
  
    svg{
        margin-bottom: 5px;
        padding: 5px;
        margin-left: auto;
    }
}
.nav__linkContainer{
        width: calc(100% - 50px);
        padding: 25px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid $grey;
        box-shadow: $box_shadow1;
        .nav__column1{
            button{
                @include btnWhite();
                transition: 0.4s all ease;
            }
            button:hover{
                box-shadow: $shadow1;
            }
        }
        .nav__column2{
            display: flex;
            align-items: center;
            margin-right: 30px;
        }
        .nav__link {
            text-decoration: none;
            color: $deto-blue;
            font-size: 1.5rem;
            padding: 8px;
            margin-left: 20px;
            position: relative;
        }
        .nav__link::after{
            position: absolute;
            content: "";
            bottom: -5%;
            left: 0;
            width: 100%;
            border: 1px solid $deto-blue;
            transition: 0.35 all;
            transform: scaleX(0);
            transition:transform 300ms ease-in  ;
            transform-origin: top right;
        }
        .nav__link:hover::after{
            transform: scaleX(1);
            transform-origin: top left;
        }

        .nav__link:first-child{
            margin-left: 0;
        }
    }    


.createItem__container{
width: 100%;
height: 100vh;
}

.createItem__form{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    margin-top: 40px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 10px 4px;
    .createItem__textarea, .createItem__input{
        padding: 13px 8px;
        border: 1px solid $grey;
        border-radius: 4px;
        min-width: 350px;
        max-width: 500px;
        margin: 15px 0;

    }
    .createItem__textarea {
        height: 150px;
    }
    .createItem__btn{
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
        width: 100%;
        margin: 15px auto;
        border: none;
        border-radius: 4px;
        padding: 20px 10px;
        background-color: $deto-blue;
        cursor: pointer;
    }
}


.home__container{
    padding: 10px;
    header{
        h2{
            color: $deto-blue;
            font-size: 3rem;
            margin-left: 4%;
            border-bottom: 1px solid $grey;
        }

    }
    .nfts_container{
        width: calc(100% - 40px);
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
    }
}

.spinner_container{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    color: $deto-blue;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

.footer_container{
    height: 20vh;
    width: 100%;
    background-color: $deto-blue;
    margin-top: 15px;
    padding: 8px;
    .media_links{
        color: white;
        display: flex;
        justify-content: center;
        a{
            color: white;
            border-radius: 50%;
            border: 1px solid white;
            padding: 5px;
            margin: 20px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            svg{
                margin-top: 3px;
            }
        }
    }
}
















@media (max-width:414px){
  .main__container{
    box-sizing: border-box;
}

  .landing{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 95vh;
    margin-bottom: 100px;
    width: 100%;
}

.title_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 20px;
    .title_image{
        max-width: 150px;
    }
}

.landing_info{
    padding: 0 20px;
    h1{
        font-size: 2rem;
        letter-spacing: 0.05rem;
        text-align: center;
        padding: 0 100px;
        max-width: 300px;
    }
    button{
        @include btn();
        width: 120px;
        font-size: 1rem;
        letter-spacing: 0.04rem;
        text-transform: uppercase;
        transition: 0.4s all ease;
    }
    button:hover{
        background-color: $hover_blue;
        box-shadow: $shadow1;
    }
}

.landing_img{
    position: absolute;
    bottom: 0;
  width: 100%;
}

.landing_msg{
    height: 100vh;
    background: url('../assets/Rectangle1.svg');
    background-size: 425%;
    background-repeat: no-repeat;
    background-position-y: -0%;
    background-position-x: 50%;
    padding: 10px 40px 80px 40px;
    h2{
        font-size: 2.5rem;
        color: white;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 50px;
    }
    p{
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }
    h3{
        color: white;
        font-size: 2.9rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;

    }
}

.landing_collection{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        padding: 0 10px;
            h2{
                font-size: 2rem;
                color: $deto-blue;
                text-align: center;
                white-space: pre-line;
                width: 80%;
        span{
            color: $pink;
        }
    }
    }
   
    div{
      width: 70vh;
    }
}
 .nav_menuResponsive{
            display: flex;
            font-size: 2rem;
            width: 100%;
            justify-content: flex-end;
            svg{
                margin-bottom: 5px;
                padding: 10px;
                margin-left: auto;
            }
        }

.nav__linkContainer{
        position: absolute;
        top: 10%;
        left: 0;
        width: calc(100% - 20px);
        z-index: 100;
        height: 100vh;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        visibility: hidden;
        opacity: 0;
        justify-content: flex-start;
        border-bottom: none;
        box-shadow: none;
        background-color: white;
        transition: 0.4s opacity ease;
        .nav__column1{
            button{
                @include btnWhite();
                transition: 0.4s all ease;
                padding:10px 8px;
                font-size: 1rem;
                width: calc(90% - 20px);
                margin: 10px auto;
                display: block;
            }
            button:hover{
                box-shadow: $shadow1;
            }
        }
        .nav__column2{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-right: 0px;
        }
       
        .nav__link {
            height: 10vh;
            width: 100%;
            z-index: 100;
            display: block;
            border-bottom: 1px solid $grey;
            text-decoration: none;
            color: $deto-blue;
            font-size: 2rem;
            text-align: center;
            padding: 12px 0;
            margin-left: 0px;
            position: relative;
        }
        .nav__link::after{
            position: absolute;
            content: "";
            bottom: -5%;
            left: 0;
            width: 100%;
            border: none;
            transition: 0.35 all;
            transform: none;
            transition:transform 300ms ease-in  ;
            transform-origin: top right;
        }
        .nav__link:hover::after{
            transform: none;
            transform-origin: top left;
        }

        .nav__link:first-child{
            margin-left: 0;
        }
    }    

 .opened{
            visibility: visible;
            opacity: 1;
        }

.createItem__container{
width: 100%;
}

.createItem__form{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 10px 4px;
    width: 90%;
    .createItem__textarea, .createItem__input{
        padding: 13px 8px;
        border: 1px solid $grey;
        border-radius: 4px;
        min-width: 100px;
        max-width: 500px;
        width: calc(100% - 26px);
        margin: 10px 0;

    }
    .createItem__textarea {
        height: 150px;

    }
    .createItem__container{
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
        width: none;
        margin: 15px auto;
        border: none;
        border-radius: 4px;
        padding: 20px 10px;
        width: calc(100% - 20px);
        background-color: $deto-blue;
        cursor: pointer;
    }
    button{
        width: calc(100% - 36px);
    }
}


.home__container{
    padding: 10px;
    header{
        h2{
            color: $deto-blue;
            font-size: 2.5rem;
            margin-left: 4%;
            border-bottom: 1px solid $grey;
        }

    }
}

.spinner_container{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    color: $deto-blue;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }

}

@media (max-width:414px){

    .landing_msg{
        height: 100vh;
        background: url('../assets/Rectangle1.svg');
        background-size: 425%;
        background-repeat: no-repeat;
        background-position-y: -0%;
        background-position-x: 50%;
        padding: 10px 40px 80px 40px;
        h2{
            font-size: 2rem;
            color: white;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 50px;
        }
        p{
            color: white;
            font-size: 1.3rem;
            text-align: center;
        }
        h3{
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
    
        }
    }
}